- if @game.finished?
  %p= t("game.messages.#{ @game.status }")

- else
  = simple_form_for [@game, @nuke || @game.new_nuke] do |f|
    = f.input :x
    = f.input :y
    = f.button :submit

%svg.battlefield{width: "#{ @bf.width }px", height: "#{ @bf.height }px"}
  %g{transform: "translate(#{ @bf.cell_size }, #{ @bf.cell_size })"}

    - @bf.cells.times do |x|
      %g{transform: "translate(#{ @bf.translate_ox(x) }, 0)"}
        - @bf.cells.times do |y|
          = cell(@game, @bf, x, y)

    - @bf.cells.times do |x|
      - @bf.cells.times do |y|
        = horizontal_label @bf, x
        = vertical_label @bf, y


%fieldset
  %legend
    = succeed ':' do
      = t(:platform45_navy)
  %div
    - @game.ships_total.each do |name, count|
      %p= "#{ name } x#{ count }"

