= simple_form_for [@game, @nuke || @game.new_nuke] do |f|
  = f.input :x
  = f.input :y
  = f.button :submit


%fieldset
  %legend
    = succeed ':' do
      = t(:platform45_navy)
  %div
    - @game.ships_total.each do |name, count|
      %p= "#{ name } x#{ count }"

